    <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center text-muted py-3">© 2018 Mahdi Shadkam-Farrokhi | All rights reserved</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->