<%include ../partials/header%>

<div class="container w-75">
    <p class="h1">
        User: Bob
    </p>

    <p>Email: bob@bob.com</p>
    <div class="container w-50">
        <p class="h2 text-center">
            Requested Shelters
        </p>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <p>Shelter ID</p>
                <p>Status</p>
            </div>
            <div class="row d-flex justify-content-between">
                <p>ABCD1123</p>
                <p>Under Review</p>
            </div>
            <div class="row d-flex justify-content-between">
                <p>BSDF546</p>
                <p>Blacklisted</p>
            </div>
            <div class="row d-flex justify-content-between">
                <p>BSDF34t</p>
                <p>Ready!</p>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer%>