<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
</head>
<body>
    <style>
        :root{
            --red: rgb(255, 43, 81);
            --dark:rgb(19, 12, 17);
        }
        body,
        html
        {
            background-color: var(--dark);
            margin: 0;
        }
        p{
            display:flex;
            justify-content: center;
            align-items: center;
            font-family: 'Fredericka the Great', cursive;
            color: var(--red);
            height: 100vh;
            font-size: 30px;
            margin: 0;
        }
    </style>

    <p>
        AN ERROR HAS OCCURED
    </p>
</body>
</html>