<%include ../partials/header%>

<div class="container mt-4">
    <p id="title" data-text="Ankita's Pet Shelter App" class="h1">Ankita's Pet Shelter App</p>
    <p class="muted-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, in.
    </p>

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3">Title 1</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nostrum temporibus reiciendis distinctio laudantium esse aspernatur iusto cupiditate? Atque optio sapiente ducimus, veritatis delectus quis! Voluptatem tempore harum ducimus molestias.</p>
            </div>
            <div class="col">
                <p class="h3">Title 2</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nostrum temporibus reiciendis distinctio laudantium esse aspernatur iusto cupiditate? Atque optio sapiente ducimus, veritatis delectus quis! Voluptatem tempore harum ducimus molestias.</p>
            </div>
        </div>
    </div>

    <div class="container text-center mb-4">
        <img src="https://source.unsplash.com/Gi4RKCaCrlA/600x400">
    </div>
</div>

<%include ../partials/footer%>