<%include ../partials/header%>

<div class="container">
    <p class="h1">
        Meta Form
    </p>
    <!-- Material form group -->
    <form>
        <!-- Material input -->
        <div class="md-form form-group mt-5">
            <input type="text" class="form-control" id="y" placeholder="Example input">
            <label for="y">Example label</label>
        </div>
        <!-- Material input -->
        <div class="md-form form-group mt-5">
            <input type="text" class="form-control" id="x" placeholder="placeholder">
            <label for="x">Another label</label>
        </div>

        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Save Changes</button>

    </form>
    <!-- Material form group -->
</div>

<%include ../partials/footer%>