<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>metaAnswers</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h2>Questions without a MetaAnswer:</h2>
    <table class="questions">
            <tr>
                <th>Shelter</th>
                <th>Form Item Name</th>
                <th>MetaAnswer</th>
            </tr>
        <% for(const question of questions){ %>
            <tr class="question">
                <td><%=question.sName%></td>
                <td><%=question.formInputName%></td>
                <td>
                    <a href="/metaAnswers/<%=question.metaAnswerId%>">
                        <%=question.mName%>
                    </a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>