<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile for: <%=username %></title>
    <%include ../partials/head%>
</head>

<body>
        <%include ../partials/nav%>

    <h1>Profile</h1>
    
    <a href="/user/<%=username%>/metaForm">Update Metaform</a>
    <%include ../partials/footer%>
</body>

</html>