<%include ../partials/header%>

<!-- Search form -->
<h3>Search shelters near you</h3>
<form action="/shelters" method="POST" class="form-inline active-purple-3 active-purple-4">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Enter 5-digit Zip Code" aria-label="Search" name="zip" pattern="[0-9]{5}">
</form>

<%if(locals.msg){%>
    <%if(msg.error){%>
        <div class="container">
            <p class="alert-danger">
                <%=msg.error%>
            </p>
        </div>
    <%}%>
<%}else if(locals.shelters){%>
    <div class="grid-container">
        <%for(const shelter of shelters){%>
            <a href="/shelters/<%=shelter.id.$t%>" class="grid-item">
                <h2><%=shelter.name.$t%></h2>
                <p><%=`${shelter.city.$t}, ${shelter.state.$t} ${shelter.zip.$t}`%></p>
            </a>
        <%}%>
    </div>
<%}%>
<%include ../partials/footer%>