<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelters</title>
    <%include ../partials/head%>
</head>

<body>
        <%include ../partials/nav%>

        <%if(locals.err){%>
            <h2>err</h2>
        <%}%>

    <h1>Shelters</h1>
    
    <h2>Currently, can only find shelters by zip code</h2>

    <%include ../partials/footer%>
</body>

</html>