<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <%include ../partials/head%>
</head>
<body>

    <div class="container">

    <% if(locals.errors){ %>
      <% for(const error of errors){ %>
          <p class="alert alert-danger"><%= error %></p>
      <% }%>
    <% }%>

      <!-- Material form login -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign up with PetApp!</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="/signup" method="POST">

      <!-- Username -->
      <div class="md-form">
        <input type="text" name="username" class="form-control">
        <label for="username">Username</label>
        <small class="form-text text-muted mb-4">
          Between 4-15 characters
      </small>
      </div>
      <!-- Email -->
      <div class="md-form">
        <input type="email" name="email" class="form-control">
        <label for="email">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" name="password" class="form-control">
        <label for="password">Password</label>
        <small class="form-text text-muted mb-4">
          At least 8 characters with at least one lowercase character, one uppercase character, a number, and a special character
      </small>
      </div>
      <div class="md-form">
        <input type="password" name="password2" id="materialLoginFormPassword" class="form-control">
        <label for="password2">Confirm Password</label>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign up</button>
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
    </div>
    <%include ../partials/footer%>

</body>
</html>